annotated-types==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
dnspython==2.6.1
email_validator==2.1.2
geographiclib==2.0
geopy==2.4.1
idna==3.7
numpy==1.26.4
pandas==2.2.2
phonenumbers==8.13.39
psycopg2==2.9.9
pydantic==2.7.4
pydantic_core==2.18.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
